<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>Account</title><html>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>
    </head>

<body id="body">
    	{{#if successMsg}}
 			<p class="msg-success">{{successMsg}}</p>
		{{/if}}
        {{#if errorMsg}}
 			<p class="msg-danger">{{errorMsg}}</p>
		{{/if}}
    <section class="container">
        <div class="header">
            <a href="/" class="header_logo center"><button><img src="WebxLogo.png"/></button></a>
            <div id="sidemenu">
                <div class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <ul>
                    <a href="/"><li> Home  </li></a>
                    {{#if data.authorised}}
                        <a href="basket"><li> Basket</li></a>
                        <a href="sell"><li> Sell </li></a>
                        <a href="myItems"><li> My Items </li></a>
                        <a href="account"><li> Account </li></a>
                        <a href="logout"><li> Logout </li></a>
                    {{else}}
                        <a href="login"><li> Login </li></a>
                        <a href="register"><li> Sign Up </li></a>
                    {{/if}}
                    <a href="about"><li> About </li></a>
                    <a href="contact"><li> Contact </li></a>
                </ul>
            </div>
        </div>

        <h1>Account Settings</h1>
    
        
        <div class="profilepictureframe">
            <p>Current Profile Picture</p>
            <hr>
            </br>
            </br>
            </br>
            <a target="_blank" href="{{picDir}}">
                <img src="{{picDir}}" alt="No profile picture" width="600" height="400" class = "profilepicture" >
            </a>
            </br>
            </br>
            </br>
            <hr>
            <a href="profilePic">Update your profile picture</a>
        </div>

        <div class="accountleftframe">

            <h2> Username </h2> 
            <hr>
            <br>
            <h3> {{usName}} </h3>
            
            </br>
            </br>
            <h2> Settings </h2>
            <br>
            <a href="changePassword">Change your current password</a>
            <hr>
            </br>
            <a href="changeEmail">Change your Email Address</a>
            <hr>
            </br>
            <a href="changeUsername">Change your Username</a>
            <hr>
            </br>
            <a href="changePaypal">Change your PayPal username</a>
            <hr>
            <br>
        
        </div>





        
    </section>
</body>

<footer> 
    <p>Project for Coventry University | 2019 | This webpage was made by WebX team. &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;  &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;  &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;  <a href="/" class="footerNav">Home</a> &#160; &#160; &#160; &#160; <a href="about" class="footerNav">About</a> &#160; &#160; &#160; &#160;   <a href="contact" class="footerNav">Contact</a> &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;  &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;  &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;  &#160; &#160; &#160; &#160; &#160; &#160;  &#160; &#160; &#160;  &#160; &#160; &#160; <a href="contact" class="footerNav">Contact example@email.com | +44 7000000000</a> </p>
</footer> 
</html>