<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>Account</title><html>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>
    </head>

<body id="body">
    	{{#if successMsg}}
 			<p class="msg-success">{{successMsg}}</p>
		{{/if}}
        {{#if errorMsg}}
 			<p class="msg-danger">{{errorMsg}}</p>
		{{/if}}
    <section class="container">
        <div class="header">
            <a href="/" class="header_logo center"><button><img src="WebxLogo.png"/></button></a>
            <div id="sidemenu">
                <div class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <ul>
                    <li> <a href="/">Home </a> </li>
                    {{#if authorised}}
                        <li> <a href="sell">Sell </a> </li>
                        <li> <a href="myItems">My Items </a> </li>
                        <li> <a href="account">Account </a> </li>
                        <li> <a href="logout">Logout </a> </li> 
                    {{else}}
                        <li> <a href="login">Login </a></li> 
                        <li> <a href="register">Sign Up </a></li> 
                    {{/if}}
                    <li> <a href="about">About </a> </li> 
                    <li> <a href="contact">Contact </a></li>
                </ul>
            </div>
        </div>

        <h1>Account Settings</h1>
    
        
        <div class="profilepictureframe">
            <p>Current Profile Picture</p>
            <hr>
            </br>
            </br>
            </br>
            <a target="_blank" href="{{picDir}}">
                <img src="{{picDir}}" alt="No profile picture" width="600" height="400" class = "profilepicture" >
            </a>
            </br>
            </br>
            </br>
            <hr>
            <a href="profilePic">Update your profile picture</a>
        </div>

        <div class="accountleftframe">

            <h2> Username </h2> 
            <hr>
            <h3> {{usName}} </h3>
            </br>
            <h2> Date Created </h2>
            <hr>
            </br>
            </br>
            <h2> Settings </h2>
            <br>
            <a href="changePassword">Change your current password</a>
            <hr>
            </br>
            <a href="changeEmail">Change your Email Address</a>
            <hr>
            </br>
            <a href="changeUsername">Change your Username</a>
            <hr>
            </br>
            <a href="changePaypal">Change your PayPal username</a>
            <hr>
            <br>
            <h2> Settings </h2>
            <hr>
        </div>





        
    </section>
</body>

<footer> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="http://localhost:8080">Click here to go Home</a>
</footer>
</html>