<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>Contact Seller</title><html>
        <link rel="stylesheet" type="text/css" href="../style.css">
        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>
    </head>

<body id="body">
    	{{#if data.successMsg}}
 			<p class="msg-success">{{data.successMsg}}</p>
		{{/if}}
        {{#if data.errorMsg}}
 			<p class="msg-danger">{{data.errorMsg}}</p>
		{{/if}}
    <section class="container">
        <div class="header">
            <a href="/" class="header_logo center"><button><img src="../WebxLogo.png"/></button></a>
            <div id="sidemenu">
                <div class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <ul>
                    <a href="/"><li> Home  </li></a>
                    {{#if data.authorised}}
                        <a href="basket"><li> Basket</li></a>
                        <a href="sell"><li> Sell </li></a>
                        <a href="myItems"><li> My Items </li></a>
                        <a href="account"><li> Account </li></a>
                        <a href="logout"><li> Logout </li></a>
                    {{else}}
                        <a href="login"><li> Login </li></a>
                        <a href="register"><li> Sign Up </li></a>
                    {{/if}}
                    <a href="about"><li> About </li></a>
                    <a href="contact"><li> Contact </li></a>
                </ul>
            </div>
        </div>
    <div class="gallery">
            <div class="gallery-item">
                <a href="/{{item.itemID}}">
                    <img src="../{{item.imageDir1}}" alt="No picture found" width="600" height="400">
                    <div class="gallery-item-description"><h3>{{item.item}}</h3> <p>{{item.price}}</p></div>
                </a>
            </div>
    </div>

    <form action="/email" method="post">
        <input type="text" name="itemID" hidden value="{{item.itemID}}">
        <p>Send a message to <b>{{seller.username}}</b></p>
        <p><textarea rows="10" cols="150" name="message" required></textarea></p>
        <p><input type="submit" value="Send"></p>
    </form>

</body>

<footer> 
    <section class="footer-left"><p>Project for Coventry University | 2019 | This webpage was made by WebX team.</p></section>
    <section class="footer-center"><a href="/" class="footerNav"><p>Home </a><a href="about" class="footerNav">About </a><a href="contact" class="footerNav">Contact </p></a></section>
    <section class="footer-right"><p>Contact: <a href="contact" class="footerNav">example@email.com</a> | +44 7000000000</p></section>
</footer> 
<script type="text/javascript">
    //Put footer at the bottom of the window if page is too short
    const bodyHeight = document.querySelector("body").offsetHeight
    const footer = document.querySelector("footer")
    if(bodyHeight < window.innerHeight){
        footer.classList.add("bottom")
    }
</script>
</html>
