<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>Contact Seller</title><html>
        <link rel="stylesheet" type="text/css" href="../style.css">
        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>
    </head>

<body id="body">
    	{{#if data.successMsg}}
 			<p class="msg-success">{{data.successMsg}}</p>
		{{/if}}
        {{#if data.errorMsg}}
 			<p class="msg-danger">{{data.errorMsg}}</p>
		{{/if}}
    <section class="container">
        <div class="header">
            <a href="/" class="header_logo center"><button><img src="../WebxLogo.png"/></button></a>
            <div id="sidemenu">
                <div class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <ul>
                    <li> <a href="/">Home </a> </li>
                    {{#if data.authorised}}
                        <li> <a href="sell">Sell </a> </li>
                        <li> <a href="myItems">My Items </a> </li>
                        <li> <a href="account">Account </a> </li>
                        <li> <a href="logout">Logout </a> </li> 
                    {{else}}
                        <li> <a href="login">Login </a></li> 
                        <li> <a href="register">Sign Up </a></li> 
                    {{/if}}
                    <li> <a href="about">About </a> </li> 
                    <li> <a href="contact">Contact </a></li>
                </ul>
            </div>
        </div>
    <div class="gallery">
            <div class="gallery-item">
                <a href="/{{item.itemID}}">
                    <img src="../{{item.imageDir1}}" alt="No picture found" width="600" height="400">
                    <div class="gallery-item-description"><h3>{{item.item}}</h3> <p>{{item.price}}</p></div>
                </a>
            </div>
    </div>

    <form action="/email" method="post">
        <input type="text" name="itemID" hidden value="{{item.itemID}}">
        <p>Send a message to <b>{{seller.username}}</b></p>
        <p><textarea rows="10" cols="150" name="message" required></textarea></p>
        <p><input type="submit" value="Send"></p>
    </form>

</body>

<footer> 
    <p>This webpage was made by WebX team.</p>
    <p>Contact: example@email.com</p>
</footer> 
</html>
