<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>Home</title><html>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">

        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>
    </head>

<body id="body">
    	{{#if data.successMsg}}
 			<p class="msg-success">{{data.successMsg}}</p>
		{{/if}}
        {{#if data.errorMsg}}
 			<p class="msg-danger">{{data.errorMsg}}</p>
		{{/if}}
    <section class="container">
        <section class="header">
            <a href="/" class="header_logo center"><button><img src="WebxLogo.png"/></button></a>
            <section class="search-container" autocomplete="on">
                <form action="/search" method="POST">
                    <input type="text" placeholder="Search..." name="search">
                    <button type="submit"  class="searching">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </section>
            <section id="sidemenu">
                <section class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </section>
                <ul>
                    <a href="/"><li> Home  </li></a>
                    {{#if data.authorised}}
                        <a href="basket"><li> Basket</li></a>
                        <a href="sell"><li> Sell </li></a>
                        <a href="myItems"><li> My Items </li></a>
                        <a href="account"><li> Account </li></a>
                        <a href="logout"><li> Logout </li></a>
                    {{else}}
                        <a href="login"><li> Login </li></a>
                        <a href="register"><li> Sign Up </li></a>
                    {{/if}}
                    <a href="about"><li> About </li></a>
                    <a href="contact"><li> Contact </li></a>
                </ul>
        </section>
        <section class="gallery">
            {{#each items}}
                <section class="gallery-item">
                    <a href="/{{itemID}}">
                        <img src="{{imageDir1}}" alt="No picture found" width="600" height="400">
                        <section class="gallery-item-description"><h3>{{item}}</h3> <p>£{{price}}</p><p class="gallery-item-status">{{status}}</p></section>
                    </a>
                </section>
            {{/each}}
        </section>
    </section>
</body>
<footer> 
    <section class="footer-left"><p>Project for Coventry University | 2019 | This webpage was made by WebX team.</p></section>
    <section class="footer-center"><a href="/" class="footerNav"><p>Home </a><a href="about" class="footerNav">About </a><a href="contact" class="footerNav">Contact </p></a></section>
    <section class="footer-right"><p>Contact: <a href="contact" class="footerNav">webxgallery@gmail.com</a></p></section>
</footer> 

<script type="text/javascript">
    //Put footer at the bottom of the window if page is too short
    const bodyHeight = document.querySelector("body").offsetHeight
    const footer = document.querySelector("footer")
    if(bodyHeight < window.innerHeight){
        footer.classList.add("bottom")
    }
    //Label item as sold if it is sold
    const itemStatus = document.getElementsByClassName("gallery-item-status")
    for(let i = 0; i < itemStatus.length; i++){
        if(itemStatus[i].innerHTML == "0"){
            itemStatus[i].innerHTML = "Sold"
        }
        else{
            itemStatus[i].classList.add("disabled")
        }
    }

</script>
</html>
