<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>Home</title><html>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">

        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>
    </head>

<body id="body">
    	{{#if data.successMsg}}
 			<p class="msg-success">{{data.successMsg}}</p>
		{{/if}}
        {{#if data.errorMsg}}
 			<p class="msg-danger">{{data.errorMsg}}</p>
		{{/if}}
    <section class="container">
        <div class="header">
            <a href="/" class="header_logo center"><button><img src="WebxLogo.png"/></button></a>
            <section class="search-container" autocomplete="on"></section>
                <form action="/search">
                    <input type="text" placeholder="Search..." name="q">
                    <button type="submit"  class="searching">
                    <i class="fa fa-search"></i>
                </button>
            </section>
            <div id="sidemenu">
                <div class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <ul>
                    <li> <a href="/">Home </a> </li>
                    {{#if data.authorised}}
                        <li> <a href="sell">Sell </a> </li>
                        <li> <a href="myItems">My Items </a> </li>
                        <li> <a href="account">Account </a> </li>
                        <li> <a href="logout">Logout </a> </li> 
                    {{else}}
                        <li> <a href="login">Login </a></li> 
                        <li> <a href="register">Sign Up </a></li> 
                    {{/if}}
                    <li> <a href="about">About </a> </li> 
                    <li> <a href="contact">Contact </a></li>
                </ul>
        </div>
    <div class="gallery">
        {{#each items}}
            <div class="gallery-item">
                <a href="/{{itemID}}">
                    <img src="{{imageDir1}}" alt="No picture found" width="600" height="400">
                    <div class="gallery-item-description"><h3>{{item}}</h3> <p>{{price}}</p></div>
                </a>
            </div>
        {{/each}}
    </div>

</body>

<footer> 
    <p>This webpage was made by WebX team.</p>
    <p>Contact: example@email.com</p>
</footer> 
</html>
