<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>Item Details</title><html>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>
    </head>

<body id="body">
    	{{#if data.successMsg}}
 			<p class="msg-success">{{data.successMsg}}</p>
		{{/if}}
        {{#if data.errorMsg}}
 			<p class="msg-danger">{{data.errorMsg}}</p>
		{{/if}}
    <section class="container">
        <div class="header">
            <a href="/" class="header_logo center"><button><img src="WebxLogo.png"/></button></a>
            <div id="sidemenu">
                <div class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <ul>
                    <a href="/"><li> Home  </li></a>
                    {{#if data.authorised}}
                        <a href="basket"><li> Basket</li></a>
                        <a href="sell"><li> Sell </li></a>
                        <a href="myItems"><li> My Items </li></a>
                        <a href="account"><li> Account </li></a>
                        <a href="logout"><li> Logout </li></a>
                    {{else}}
                        <a href="login"><li> Login </li></a>
                        <a href="register"><li> Sign Up </li></a>
                    {{/if}}
                    <a href="about"><li> About </li></a>
                    <a href="contact"><li> Contact </li></a>
                </ul>
            </div>
        </div>

        <div class="detail_top">
            <h1 class="center">{{record.item}} ({{record.year}}) <span id="detail_top-status">{{record.status}}</span></h1>
            <div class="detail_image_previews"></div>
            <div class="detail_image_main">
                <a id="detail_image_main-a" href="{{record.imageDir1}}"><img id="detail_image_main-id" src="{{record.imageDir1}}" alt="No picture found"/></a>
            </div>
            <div class="detail_description">
                <p>{{record.sDescription}}</p>
                <p>Price: £{{record.price}}</p>
                <p>Artist: {{record.artist}}</p>
                <p>Medium: {{record.medium}}</p>
                <p>Size: {{record.size}}</p>
                <p>Reference: #{{record.itemID}}</p>
                <a href="/buy/{{record.itemID}}"><button id="detail_description-buyitnow"><h3>Buy it Now</h3></button></a>
                <a href="/{{record.itemID}}/add-to-basket"><button id="detail_description-addtobasket"><h3>Add to basket</h3></button></a>
                {{#if data.favourited}}
                <a href="/favourite/{{record.itemID}}"><button id="detail_description-favourite"><h3>Remove from favourites</h3></button></a>
                {{else}}
                <a href="/favourite/{{record.itemID}}"><button id="detail_description-favourite"><h3>Add to favourites</h3></button></a>
                {{/if}}
            </div>
        </div>

        <div class="detail_bottom">
            <div class="detail_more_description">
                <h3>Description</h3>
                <p>{{record.lDescription}}</p>
            </div>
            <div class="detail_seller">
                <h3>Seller Details</h3>
                <p>Username: {{record.username}}</p>
                <p>Current Profile Picture</p>
                <a target="_blank" href="{{record.picDir}}">
                    <img src="{{record.picDir}}" alt="No profile picture" width="600" height="400">
                </a>
                <a href="/contactSeller/{{record.itemID}}"><button id="detail_seller-contact"><h3>Contact</h3></button></a>
            </div>
        </div>

    </section>
</body>

<footer> 
    <section class="footer-left"><p>Project for Coventry University | 2019 | This webpage was made by WebX team.</p></section>
    <section class="footer-center"><a href="/" class="footerNav"><p>Home </a><a href="about" class="footerNav">About </a><a href="contact" class="footerNav">Contact </p></a></section>
    <section class="footer-right"><p>Contact: <a href="contact" class="footerNav">webxgallery@gmail.com</a></p></section>
</footer> 
<script>
    const mainPic = document.getElementById("detail_image_main-id")
    const mainPicLink = document.getElementById("detail_image_main-a")
    const previewPicParent = document.getElementsByClassName("detail_image_previews")[0]
    const previewPics = previewPicParent.children
    const previews = ["{{record.imageDir1}}", "{{record.imageDir2}}", "{{record.imageDir3}}", "{{record.imageDir4}}", "{{record.imageDir5}}"]

    //Load preview images
    for(let i = 0; i < previews.length; i++){
        if(previews !== undefined){
            let newPreviewPic = document.createElement("img");
            previewPicParent.appendChild(newPreviewPic)
            newPreviewPic.src = previews[i]
            if(i > 0){
                newPreviewPic.classList.add("inactive")
            }
        }
    }

    //Click on preview image to update main image
    for(let i = 0; i < previews.length; i++){
        previewPics[i].addEventListener('click', e => {
            mainPic.src = previews[i]
            mainPicLink.href = mainPic.src
            for(let j = 0; j < previews.length; j++){
                previewPics[j].classList.add("inactive")
            }
            previewPics[i].classList.remove("inactive")
        })
    }
    //label item as sold if it is sold
    const statuslabel = document.getElementById("detail_top-status")
    const buttons = [document.getElementById("detail_description-buyitnow"), document.getElementById("detail_description-addtobasket"), document.getElementById("detail_description-favourite")]
    if(statuslabel.innerHTML == "0"){
        statuslabel.innerHTML = "- Item is sold"
        for(let i = 0; i < buttons.length; i++){
            buttons[i].classList.add('disabled')
        }
    }
    else{
        statuslabel.innerHTML = ""
    }
    //Put footer at the bottom of the window if page is too short
    const bodyHeight = document.querySelector("body").offsetHeight
    const footer = document.querySelector("footer")
    if(bodyHeight < window.innerHeight){
        footer.classList.add("bottom")
    }
</script>

</html>