<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8", name="viewport" content="width=device-width, initial-scale=1">
<title>Item Details</title><html>
<link rel="stylesheet" type="text/css" href="style.css">

<body>
    	{{#if successMsg}}
 			<p class="msg-success">{{successMsg}}</p>
		{{/if}}
        {{#if errorMsg}}
 			<p class="msg-danger">{{errorMsg}}</p>
		{{/if}}

    <section class="container">

        <nav class="side">
            <a href="about">About</a> |
            <a href="#services">Services</a> |
            <a href="login">Login</a> |
            <a href="register">Sign Up</a> |
            <a href="#contact">Contact</a> |
        </nav>

        <div class="detail_top">
            <div class="detail_image_previews">

            </div>
            <div class="detail_image_main">
                <img id="detail_image_main-id" src="{{imageDir1}}" alt="No picture found"/>
            </div>
                <div class="detail_description">
                <h3>{{name}} ({{year}})</h3>
                <p>{{sDescription}}</p>
                <p>Price: {{price}}</p>
                <p>Artist: {{artist}}</p>
                <p>Medium: {{medium}}</p>
                <p>Size: {{size}}</p>
                <p>Reference: #{{itemID}}</p>
                <button id="detail_description-addtobasket">Add to basket</button>
                <button id="detail_description-favourite">Favourite</button>
            </div>
        </div>
        <div class="detail_bottom">
            <div class="detail_more_description">
                <h3>Description</h3>
                <p>{{lDescription}}</p>
            </div>
            <div class="detail_seller">
                <h3>Seller Details</h3>
                <p>Username: {{username}}</p>
                <p>Current Profile Picture</p>
                <a target="_blank" href="{{picDir}}">
                    <img src="{{picDir}}" alt="No profile picture" width="600" height="400">
                </a>
                <button id="detail_seller-contact">Contact</button>
            </div>
        </div>

    </section>
</body>

<footer> 

</footer>
<script>
    const mainPic = document.getElementsByClassName("detail_image_main")[0].children[0]
    const previewPicParent = document.getElementsByClassName("detail_image_previews")[0]
    const previewPics = previewPicParent.children
    const previews = ["{{imageDir1}}", "{{imageDir2}}", "{{imageDir3}}", "{{imageDir4}}", "{{imageDir5}}"]

    for(let i = 0; i < previews.length; i++){
        if(previews !== undefined){
            let newPreviewPic = document.createElement("img");
            previewPicParent.appendChild(newPreviewPic)
            newPreviewPic.src = previews[i]
            if(i > 0){
                newPreviewPic.classList.add("inactive")
            }
        }
    }

    for(let i = 0; i < previews.length; i++){
        previewPics[i].addEventListener('click', e => {
            mainPic.src = previews[i]
            for(let j = 0; j < previews.length; j++){
                previewPics[j].classList.add("inactive");
            }
            previewPics[i].classList.remove("inactive");
        });
    }

</script>
</html>