<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>Item Details</title><html>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>
    </head>

<body id="body">
    	{{#if successMsg}}
 			<p class="msg-success">{{successMsg}}</p>
		{{/if}}
        {{#if errorMsg}}
 			<p class="msg-danger">{{errorMsg}}</p>
		{{/if}}
    <section class="container">
        <div class="header">
            <a href="/" class="header_logo center"><button><img src="WebxLogo.png"/></button></a>
            <div id="sidemenu">
                <div class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <ul>
                    {{#if authorised}}
                        <li> <a href="sell">Sell </a> </li>
                        <li> <a href="myItems">My Items </a> </li>
                        <li> <a href="account">Account </a> </li>
                        <li> <a href="logout">Logout </a> </li> 
                    {{else}}
                        <li> <a href="login">Login </a></li> 
                        <li> <a href="register">Sign Up </a></li> 
                    {{/if}}
                    <li> <a href="about">About </a> </li> 
                    <li> <a href="contact">Contact </a></li>
                </ul>
            </div>
        </div>

        <div class="detail_top">
            <h1>{{item}} ({{year}})</h1>
            <div class="detail_image_previews"></div>
            <div class="row">
                <div class="col detail_image_main">
                    <img id="detail_image_main-id" src="{{imageDir1}}" alt="No picture found"/>
                </div>
                <div class="col detail_description">
                    <p>{{sDescription}}</p>
                    <p>Price: {{price}}</p>
                    <p>Artist: {{artist}}</p>
                    <p>Medium: {{medium}}</p>
                    <p>Size: {{size}}</p>
                    <p>Reference: #{{itemID}}</p>
                    <a href="/buy/{{itemID}}"><button id="detail_description-buyitnow"><h3>Buy it Now</h3></button></a>
                    <button id="detail_description-addtobasket"><h3>Add to basket</h3></button>
                    <button id="detail_description-favourite"><h3>Favourite</h3></button>
                </div>
            </div>
        </div>

        <div class="row detail_bottom">
            <div class="col detail_more_description">
                <h3>Description</h3>
                <p>{{lDescription}}</p>
            </div>
            <div class="col detail_seller">
                <h3>Seller Details</h3>
                <p>Username: {{username}}</p>
                <p>Current Profile Picture</p>
                <a target="_blank" href="{{picDir}}">
                    <img src="{{picDir}}" alt="No profile picture" width="600" height="400">
                </a>
                <button id="detail_seller-contact"><h3>Contact</h3></button>
            </div>
        </div>

    </section>
</body>

<footer> 

</footer>
<script>
    const mainPic = document.getElementsByClassName("detail_image_main")[0].children[0]
    const previewPicParent = document.getElementsByClassName("detail_image_previews")[0]
    const previewPics = previewPicParent.children
    const previews = ["{{imageDir1}}", "{{imageDir2}}", "{{imageDir3}}", "{{imageDir4}}", "{{imageDir5}}"]

    for(let i = 0; i < previews.length; i++){
        if(previews !== undefined){
            let newPreviewPic = document.createElement("img");
            previewPicParent.appendChild(newPreviewPic)
            newPreviewPic.src = previews[i]
            if(i > 0){
                newPreviewPic.classList.add("inactive")
            }
        }
    }

    for(let i = 0; i < previews.length; i++){
        previewPics[i].addEventListener('click', e => {
            mainPic.src = previews[i]
            for(let j = 0; j < previews.length; j++){
                previewPics[j].classList.add("inactive");
            }
            previewPics[i].classList.remove("inactive");
        });
    }

</script>
</html>