<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>My Items</title><html>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>
    </head>

<body id="body">
    	{{#if successMsg}}
 			<p class="msg-success">{{successMsg}}</p>
		{{/if}}
        {{#if errorMsg}}
 			<p class="msg-danger">{{errorMsg}}</p>
		{{/if}}
    <section class="container">
        <div class="header">
            <a href="/" class="header_logo center"><button><img src="WebxLogo.png"/></button></a>
            <div id="sidemenu">
                <div class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <ul>
                    <li> <a href="/">Home </a> </li>
                    {{#if authorised}}
                        <li> <a href="sell">Sell </a> </li>
                        <li> <a href="myItems">My Items </a> </li>
                        <li> <a href="account">Account </a> </li>
                        <li> <a href="logout">Logout </a> </li> 
                    {{else}}
                        <li> <a href="login">Login </a></li> 
                        <li> <a href="register">Sign Up </a></li> 
                    {{/if}}
                    <li> <a href="about">About </a> </li> 
                    <li> <a href="contact">Contact </a></li>
                </ul>
            </div>
        </div>


    <h1>My Items</h1>
    <div class="gallery">
        {{#each items}}
            <div class="gallery-item">
                <a href="/{{itemID}}">
                    <img src="{{imageDir1}}" alt="No picture found" width="600" height="400">
                    {{#if imageDir2}}
                        <img src="{{imageDir2}}" alt="No item picture" width="600" height="400">
                    {{/if}}
                    {{#if imageDir3}}
                        <img src="{{imageDir3}}" alt="No item picture" width="600" height="400">
                    {{/if}}
                </a>
                <div class="gallery-item-description"><h3>{{item}}</h3> <p>{{price}}</p></div>
                </div>
        {{/each}}
    </div>
    </section>
</body>

<footer> 
    <p>This webpage was made by WebX team.</p>
    <p>Contact: example@email.com</p>
</footer>
</html>