<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8", name="viewport" content="width=device-width, initial-scale=1">
<title>My Items</title><html>
<link rel="stylesheet" type="text/css" href="style.css">

<body>
    	{{#if successMsg}}
 			<p class="msg-success">{{successMsg}}</p>
		{{/if}}
        {{#if errorMsg}}
 			<p class="msg-danger">{{errorMsg}}</p>
		{{/if}}

    <section class="container">

        <nav class="side">
            <a href="about">About</a> |
            <a href="#services">Services</a> |
            <a href="login">Login</a> |
            <a href="register">Sign Up</a> |
            <a href="#contact">Contact</a> |
        </nav>

        <h1>My Items</h1>
        {{#each items}}
			<li>{{item}}</li>
            <li>{{price}}</li>
            <li>          
                <a target="_blank" href="{{imageDir1}}">
                    <img src="{{imageDir1}}" alt="No item picture" width="600" height="400">
                </a>
                {{#if imageDir2}}
 			        <a target="_blank" href="{{imageDir2}}">
                        <img src="{{imageDir2}}" alt="No item picture" width="600" height="400">
                    </a>
		        {{/if}}
                {{#if imageDir3}}
 			        <a target="_blank" href="{{imageDir3}}">
                        <img src="{{imageDir3}}" alt="No item picture" width="600" height="400">
                    </a>
		        {{/if}}
            </li>
		{{/each}}
    </section>
</body>

<footer> 
    <br>
    <br>
    <a href="http://localhost:8080">Click here to go Home</a>
</footer>
</html>